.footer{
    background:#274472;
    padding:30px 0px;
    text-align:center;
    }
    
    .footer .frow{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#B1D4E0;
    font-size:0.8em;
    }
    
    .footer .frow a{
    text-decoration:none;
    color:#B1D4E0;
    transition:0.5s;
    }
    
    .footer .frow a:hover{
    color:#fff;
    }
    
    .footer .frow ul{
    width:100%;
    }
    
    .footer .frow ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .frow a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:600px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .frow ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .frow a i{
    margin:0% 3%;
    }
    }