* {
  box-sizing: border-box;
}

body {
  font-family: "Audiowide";
  padding: 10px;
  color: #274472;
  background: linear-gradient(315deg, #287aff, #8fe3ff);
}


header {
  z-index:100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(315deg, rgb(40, 122, 255, 0.7), rgb(143, 227, 255, 0.7));
  box-shadow: 0 5px 5px rgba(26,35,126,0.50);
  border-radius: 2rem;
  padding-top: 20px;
  position: sticky;
  top: 0;
}

/*селектор класса (специфицирует элемент, маркированный нами как класс с данным названием. несколько элементов могут быть одного класса)*/
.wrap-logo {
  display: flex;
  align-items: center;

}

header a { /*отвечает за навигацию*/
  color: #000;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 10px;
  background-color: rgb(39, 68, 114, 0.4);
  backdrop-filter: blur(2rem);
  box-shadow: 0 5px 5px rgba(18, 23, 76, 0.5);
}

nav {
  display: flex;
  align-items: center;
  margin-right: 26px;
  padding: 0%;
  position:relative;
  top:5px;
  }


.row {
  display: flex;
  flex-direction: column;

}







.card {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: linear-gradient(
    to right bottom,
    #9be6ff,
    rgba(3, 35, 110, 0.1)
  );
  z-index: 3;
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


footer
        {
          
           background-color: #19335d;
           border-radius: 2rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: [dark] max-content [foot_div] repeat(1, 250px),140px [lastline];
            place-items: center/center;
            gap: 20px;
        }

        .foot_div h3{
            display: block;
            font-size: 1.3em;
            font-weight: 800;
            color: #80bdff;
            width:100%;
        }
        .foot_div a, .foot_div p
        {
            color: #161a27;
            display:block;
            width: 80%;
            margin: 0;
        }

        .foot_div
        {
            box-sizing: border-box;
            display: flex;
            flex-flow: wrap column;
            align-items:baseline;
            align-content: center;
            margin: 20px;
        }

        footer div:nth-child(1){
          grid-column: 1;
          grid-row: 1;
      }
      footer div:nth-child(2){
          grid-column: 2;
          grid-row: 1;
      }
      footer div:nth-child(3){
          grid-column: 3;
          grid-row: 1;
      }
      footer div:nth-child(4){
          grid-column: 4;
          grid-row: 1;
      }
      footer div:nth-child(5){
          grid-column: 1 / span 4;
          grid-row: 2;
      }



mark{
  background-color:#B1D4E0;
}

.gallery > p {
  color: #B1D4E0;
}

a:visited:not(li a) {
  color: #111
}

h3 + dl, p {
  color: #274472;
}

#imgtxt {
  float: right;
}



/* ======================================
Responsive Image gallery Style rules
======================================*/

.container {
  padding: 10px;
}

.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.heading-text span {
  font-weight: 100;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}



/* overlay styles */

.image-item {
  position: relative;
}
.like{
  position: relative;
  display: inline-flex;
  padding-top: 10px;
  margin-bottom: 20px;
  justify-content: left;
  align-items: center;
}
.likebtn > img{
  border-radius: 30px;
  flex-grow: 0.5; 
  width: 30%;
  padding: 5px;
}
.likebtn > span{
  flex-grow: 1;
}
.likebtn{
  display: inline-flex;
  align-items: center;
  padding: 5px;
  width: 90px;
  border-radius: 40px;
  font-size: 140%;
}

.clicked{
  background-color: #f770a4;
}
.clicked > img{
  background-color: #e73c7e;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content:end;
}

.overlay p {
  color:#B1D4E0;
}

/* hover */
.image-item:hover .overlay {
  transform: scale(1);
}


#menu__toggle, #menu__btn{display: none}

.hamburger-menu 
{
  background: linear-gradient(315deg, rgb(39, 68, 114, 0.5), rgb(25, 51, 93, 0.5));;
  backdrop-filter: blur(2rem);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width:100%;
  display:block;
  float:center;
  text-align:center; 

}

.hamburger-menu ul{
    
  text-align: left; 
    
}

ul li{
    box-sizing: border-box;
    display: inline-block;
}


a:active{
    color: #274472;
    background-color:#B1D4E0;
}

.menu__item {
    display: block;
    color: #B1D4E0;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #000;
}



/*speedpaint*/
.full-screen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 10px 0;

}
.full-screen-body {
  padding: 50px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 2rem;
  
}
.full-screen-title {
  color: white;
  font-size: 50px;
  letter-spacing: 25px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;

}
.full-screen-text {
  color: white;
  font-size: 18px;
  letter-spacing: 15px;
}
.full-screen-video {
  border-radius: 2rem;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: relative;
  z-index: 5;
}
.full-screen-cat{
  color: white;
  font-size: 18px;
  letter-spacing: 5px;
  padding: 10px;
  text-align: center;
  transform:scale(0);
  margin-top: 1%;
}

.full-screen-body:hover .full-screen-cat{
  transform: scale(1);
  transition: all 1s;
}
.full-screen-body:hover .containerforbtncat{
  transform: scale(1);
  transition: all 1s;
}

.containerforbtncat{
  margin-top: 1%;
  position: relative;
  display: flex;
  text-align: center;
  transform: scale(0);
}

.btncat{
  padding: 10px 20px;
  box-shadow:  0px 10px 20px rgba(0,0,0,0.19),
              0px 6px 6px rgba(0,0,0,0.23);
  color:white;
  cursor: pointer;
  position: relative;
  font-size: 28px;
  background-color: #1A1A1A;
  transition: all 1s;


}

.btncat::before, .btncat::after{
  content: '';
  width:10px;
  height:10px;
  position: absolute;
  border: 0px solid white;
  transition: all 1s;

}
.btncat::before{
  bottom: 0px;
  right: 0px;
  border-top: 5px solid white;
  border-left:5px solid white;
  transform: rotate(180deg);
}
.btncat::after{
  top: 0px;
  left: 0px;
  border-top: 5px solid white;
  border-left:5px solid white;
}
/*РАсширяем линии при наведении*/
.btncat:hover::after, .btncat:hover::before{
width: 95%;
height: 90%;
}
/*При нажатии на конпку делаем фон белым, текст черным*/
.btncat:active{
  transition: 0.1s;
  background-color: white;
  color:black
  
}

.dark {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dark .btn-gradient {
  color: rgba(255,255,255,.54);
  box-shadow: 0 0 1px rgba(255,255,255,0.54);
}
.dark .btn-gradient:hover {
  color: #fff;
}
ul li {
  list-style: none;
  display: inline-block;
}
.btn-gradient {
  width: 60px;
  height: 60px;
  text-align: center;
  display: block;
  margin: 20px;
  border-radius: 2px;
  transition: all 300ms;
}
.btn-gradient i {
  font-size: 30px;
  line-height: 2.1;
  vertical-align: middle;
}
.btn-gradient.rounded {
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.54);
}
@keyframes Gradient {
  0% {
      background-position: 50%;
  }
  50% {
     background-position: 100% 50%;
 }
 100% {
     background-position: 0 50%;
 }
}
.dark .btn-gradient.facebook:hover {
  box-shadow: 0 5px 8px rgba(26,35,126,0.50);
  background: #3949ab;
  background: linear-gradient(to right,#3949ab 0%,#2196f3 100%);
  background-size: 400%;
  animation: Gradient 1s ease infinite;
}
.dark .btn-gradient.google-plus:hover {
 box-shadow: 0 5px 8px rgba(4, 6, 113, 0.5);
 background: #3662f4;
 background: linear-gradient(to right,#3662f4 0%,#5cb0ff 100%);
 background-size: 400%;
 animation: Gradient 1s ease infinite;
}

.dark .btn-gradient.twitter:hover {
 box-shadow: 0 5px 8px rgba(33,150,243,0.50);
 background: #00bcd4;
 background: linear-gradient(to right,#00bcd4 0%,#2196f3 100%);
 background-size: 400%;
 animation: Gradient 1s ease infinite;
}



@media (max-width: 768px)
{   

  header{
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  header a {
    box-shadow: none;
  }
  .hamburger-menu {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .menu__box {
    background: linear-gradient(315deg, rgb(39, 68, 114, 0.5), rgb(25, 51, 93, 0.5));;
    backdrop-filter: blur(2rem);
    border-radius: 0.5rem;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 3px;
    width: 90vw;
    height: auto;
    margin: 0;
    margin-top: 60px;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

#menu__toggle {
    opacity: 0;
}
.menu__btn {

  background: linear-gradient(315deg, rgb(39, 68, 114, 0.5), rgb(25, 51, 93, 0.5));;
  backdrop-filter: blur(2rem);
    display: flex; 
    align-items: center;  
    top: 0px;
    left: 20px;
    width: 60px; 
    height: 60px;
    cursor: pointer;
    z-index: 1;
    border-radius: 0.5rem;
}

/*составляющие кнопки меню мобилок*/
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px; /*ширина полос, составляющих кнопку меню мобилок-->*/
    background-color: #ffffff; /*цвет полос, составляющих кнопку меню мобилок-->*/
}

.menu__btn > span::before { /*верхняя полосочка*/
    content: '';
    top: -8px;
}
.menu__btn > span::after {/*нижняя полосочка*/
  content: '';
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span { /*разворот полоски после нажатия*/
transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before { /*разворот полоски после нажатия*/
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box { /*кнопка меню становится видимой*/
    visibility: visible;
    left: 5;
  }

  .card:not(.items-container .card) {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background: linear-gradient(
    to right bottom,
    #9be6ff,
    rgba(3, 35, 110, 0.1)
  );
    padding: 20px;
    margin-top: 20px;
  }

  .rightcolumn {
    flex-direction: column;
    width: auto;
  }
  .image-gallery {
    flex-direction: column;
  }
  footer
  {
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, 200px),100px;
      gap: 0;
  }
  .foot_div
  {
      margin:2px 20px;
  }
  .foot_div h3{
      font-size: 1em;
  }
  .foot_div p, .foot_div a{
      font-size: 0.7em;
  }
  footer div:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
footer div:nth-child(2){
    grid-column: 1;
    grid-row: 2;
}
footer div:nth-child(3){
    grid-column: 1;
    grid-row: 3;
}
footer div:nth-child(4){
    grid-column: 1;
    grid-row: 4;
}
footer div:nth-child(5){
    grid-column: 1;
    grid-row: 5;
}

.blog-post img {
  width: 100%;
}

.cart-btn {
  top: 10vh;
  left: 30vw;
}

.full-screen {
  position: relative;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  margin: 10px 0;

}

}

@media (min-width:768px) and (max-width: 1000px){

  .cart-btn {
    top: 10vh;
    left: 20vw;
  }

  .blog-post img {
    width: 500px;
  }

  footer
  {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 250px),140px;
  }

  .foot_div h3{
      font-size: 1.2em;
  }
  footer div:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
footer div:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}
footer div:nth-child(3){
    grid-column: 1;
    grid-row: 2;
}
footer div:nth-child(4){
    grid-column: 2;
    grid-row: 2;
}
footer div:nth-child(5){
    grid-column: 1 / span 2;
    grid-row: 3;
}
.cart-modal {
  width: 100vw;
} 

.product-row {
  flex-direction: column;
  text-align: center;
  margin-bottom: 2em;
}

.remove-btn {
  margin: 0
}

.product-quantity {
  margin: .5em 0 .5em 0
}
}


.btn_like
        {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 3vw;
            height: 2.5vw;
            border-radius: 20px;
            text-align: center;
            font-size: 1.5em;
            color: rgb(0, 0, 0);
            background: rgba(255, 255, 255, 0.733);
        }

        .button-6 {
          background:linear-gradient(315deg, rgba(157, 247, 252, 0.216), rgb(228, 248, 255));
          border: 1px solid rgba(45, 106, 186, 0.564);
          border-radius: .25rem;
          box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
          box-sizing: border-box;
          color: #0c1b32;
          cursor: pointer;
          display: block;
          align-self: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.25;
          margin: 10px;
          min-height: 3rem;
          padding: calc(.875rem - 1px) calc(1.5rem - 1px);
          position: relative;
          text-decoration: none;
          transition: all 250ms;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          width: 200px;
        }
        
        .button-6:hover,
        .button-6:focus {
          border-color: rgba(0, 0, 0, 0.15);
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          color: rgba(0, 0, 0, 0.65);
        }
        
        .button-6:hover {
          transform: translateY(-1px);
        }
        
        .button-6:active {
          background-color: #F0F0F1;
          border-color: rgba(0, 0, 0, 0.15);
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          color: rgba(0, 0, 0, 0.65);
          transform: translateY(0);
        }

.blog-post{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}  

.blog-post img {
  width: 40vw;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #3fa7d3, #1e00ff)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #03a9f4, #00ffea)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #0318ff, #00d0ff)
}

.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  background: #62e7ff;
  border: 1px solid rgba(0, 38, 255, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}